h1 {
  font-size: 30px;
  text-align: center;
}

p {
  font-size: 14px;
}

li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: #9de593;
  font-size: 10px;
  font-family: Roboto;
}

body {
  width: 600px;
  padding: 0 20px 20px 20px;
  border: 5px none;
}
